<h1>家計簿<%= type %></h1>

<%= form_with(model: book) do |form| %>

  <div class='form-group'>
    <label>年度</label>
    <%= form.number_field :year, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label>月</label>
    <%= form.number_field :month, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label>区分</label>
    <%= form.select:inout, [['収入', 1], ['支出', 2]], {},  class: 'form-control' %>
  </div>
  
  <div class='form-group'>
    <label>科目</label>
    <%= form.text_field :category, class: 'form-control' %>
  </div>
  
  <div class='form-group'>
    <label>金額</label>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>

  <%= link_to '戻る', books_path, class: 'btn btn-secondary' %>  
  <%= form.submit type, class: 'btn btn-primary' %>
<% end %>
